{% extends "base.html" %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block body %}
            <div class="posts">
                <h1 class="content-subhead">About Me</h1>
                <img src="/static/images/webmaster.jpg">
                <p>My name is Andy Wood.</p>
                <p>I'm 29 years old, live in Portland, OR, and work part time for Intel while I finish a degree in computer science.</p>
                <p>I'm a programmer and an art hobbyist. I sing too much, write bad erotica, and wear a cowboy hat.</p>
                <p>I hate web development. I hate frameworks. I really hate javascript. I wrote this site in vim.<p>
                <p>I'm strongly-typed, but I support polymorphism. I am fluent in regex.</p>
                <p>I have awesome housemates. They make me happy.</p>
                <p>I'm only here for the free pizza.</p>
{% endblock %}
