{% extends "base.html" %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block body %}
            <div class="posts">
                <h1 class="content-subhead">How to find me</h1>
                <p>I'm generally considered to be hard to get ahold of.</p>
                <p>You can reach me on IRC, as mancat on irc.cat.pdx.edu</p>
                <p>You can find me on Steam, as mongolsamurai</p>
                <p>You can email me, at mongolsamurai at the gmails</p>
                <p>Soon, you will be able to email me at webmaster at the mindtax.net</p>
                <p>You could call me... but nobody calls anyone any more.</p>
                <p>You could head down to the 7-Eleven on Powell and yell, really loud.</p>
{% endblock %}
